/*!
    Title: Dev Portfolio Template
    Version: 1.2.1
    Last Change: 08/28/2017
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Vite and sent to the /dist folder.
*/
@use 'sass:color';
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Optional Section Styles
        12. Media Queries
*/

/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

// Define base and accent colors
$base-color: #3498db;
$base-color-hover: color.adjust($base-color, $lightness: -10%);

// Define background colors
$background: #fff;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #374054;
$text: #74808a;

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
        opacity: 1;
    }

    &::-moz-placeholder {
        @content;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

// No JS styles (no longer needed for timeline; kept for other .no-js uses)

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    z-index: 100;

    ul {
        display: inline-block;
        background: $background;
        text-align: center;
        padding: 10px;
        margin: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 100%;
        position: fixed;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: $base-color;
        padding: 10px;

        &:hover {
            color: $base-color-hover;
            text-decoration: none;
            background: #eee;
            border-radius: 4px;
        }

        &:focus {
            color: $base-color;
            text-decoration: none;
        }
    }

    &.active {
        display: block;
    }

    &.sticky {
        position: fixed;
        z-index: 999;
    }
}

#menu {
    &.active {
        display: block;
    }
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: $base-color;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: $background;
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: $background;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: $base-color;

    span {
        font-size: 0.5em;
        text-transform: uppercase;
    }

    i {
        vertical-align: middle;
    }
}

footer {
    padding: 50px 0;
}

.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    @include transition();

    &:focus {
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        color: $base-color;
        background: #fff;
        text-decoration: none;
    }
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;

    &:after {
        position: absolute;
        content: '';
        top: 100%;
        height: 1px;
        width: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $base-color;
    }
}

.background-alt {
    background: $background-alt;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/lead-bg.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1,
    h2 {
        margin: 0;
    }

    h1 {
        color: #fff;
        font-weight: 900;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 0.9em;
    }

    h2 {
        color: color.adjust($base-color, $lightness: 25%);
        font-weight: 500;
        font-size: 2.25em;
        margin-bottom: 15px;
    }
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($base-color-hover, 0.8);
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #fff;

    span {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid color.adjust($base-color, $lightness: 25%);
        text-align: center;
    }

    i {
        animation: pulsate 1.5s ease;
        animation-iteration-count: infinite;
        padding-top: 5px;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/

#about {
    padding: 75px 15px;
    border-bottom: 1px solid $border;

    h2 {
        color: $heading;
    }

    p {
        color: $text;
        margin: 0;
    }
}

.profile-image img {
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
}

/*
    --------------------------------
    ----- 6. Experience Styles -----
    --------------------------------
*/

#experience {
    padding: 50px 15px;
    border-bottom: 1px solid $border;

    h2 {
        color: $heading;
    }
}

// Tree trunk line
#experience-timeline {
    margin: 40px auto 0;
    position: relative;
    max-width: 1000px;
    padding-bottom: 20px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        background: linear-gradient(to bottom, $base-color, rgba($base-color, 0.1));
        z-index: 0;
    }
}

// Each leaf hanging from the tree trunk
.vtimeline-item {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;

    // Odd items: card on LEFT side
    &:nth-child(odd) {
        justify-content: flex-start;

        .vtimeline-content {
            margin-right: calc(50% + 40px);
            text-align: right;

            // Arrow pointing right toward center trunk
            &::after {
                content: '';
                position: absolute;
                top: 14px;
                left: 100%;
                border: 10px solid transparent;
                border-left: 10px solid #e6e6e6;
            }

            &::before {
                content: '';
                position: absolute;
                top: 15px;
                left: 100%;
                border: 9px solid transparent;
                border-left: 9px solid #fff;
                z-index: 1;
                margin-left: 1px;
            }
        }
    }

    // Even items: card on RIGHT side
    &:nth-child(even) {
        justify-content: flex-end;

        .vtimeline-content {
            margin-left: calc(50% + 40px);
            text-align: left;

            // Arrow pointing left toward center trunk
            &::after {
                content: '';
                position: absolute;
                top: 14px;
                right: 100%;
                border: 10px solid transparent;
                border-right: 10px solid #e6e6e6;
            }

            &::before {
                content: '';
                position: absolute;
                top: 15px;
                right: 100%;
                border: 9px solid transparent;
                border-right: 9px solid #fff;
                z-index: 1;
                margin-right: 1px;
            }
        }
    }
}

// Icon dot on the trunk
.vtimeline-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    width: 42px;
    height: 42px;
    background: $base-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
    box-shadow: 0 0 0 5px rgba($base-color, 0.15);

    i {
        font-size: 1.1em;
    }
}

// Leaf card
.vtimeline-content {
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 16px 20px;
    border-radius: 6px;
    position: relative;
    width: calc(50% - 65px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
    }

    h3 {
        font-size: 1.3em;
        font-weight: 400;
        color: $heading;
        display: block;
        margin: 0 0 3px;
    }

    h4 {
        font-size: 1em;
        font-weight: 300;
        color: #7e8890;
        margin: 0 0 10px;
    }

    p {
        color: $text;
        font-size: 0.9em;
        margin: 0;
        text-align: left;
    }
}

.vtimeline-date {
    display: block;
    font-size: 0.75em;
    font-weight: 600;
    color: $base-color;
    margin-bottom: 8px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

/*
    -------------------------------
    ----- 7. Education Styles -----
    -------------------------------
*/

#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid $border;
    // text-align: center;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid $border;
    text-align: left;

    h3 {
        font-weight: 500;
        float: left;
        margin: 0;
        color: $heading;
    }

    span {
        color: $text;
        float: right;
    }

    h4 {
        color: $text;
        clear: both;
        font-weight: 500;
        margin: 0 0 15px 0;
    }

    p,
    ul {
        margin: 0;
        color: $text;
        font-size: 0.9em;
    }

    ul {
        padding: 0 0 0 15px;
    }
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/

#projects {
    padding: 50px 5px;
    border-bottom: 1px solid $border;
    // text-align: center;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.project {
    margin: 0 auto 3.2rem auto;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: transform 0.2s; /* Animation */

    &:hover {
        transform: scale(1.1);
    }
}

.project-image img {
    max-width: 400px;
}

.project-info {
    border-left: 1px dashed #3498db;
    margin-left: 20px;
    width: 500px;
    padding: 50px;

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        margin: 0 0 15px 0;
    }

    p {
        color: $text;
        margin: 0 0 15px 0;
        font-size: 1em;
        text-align: left;
    }

    a:hover {
        font-weight: bolder;
    }

    .view-project {
        color: #3498db;
        float: left;
        font-size: 0.9em;
    }

    .view-demo {
        color: #3498db;
        float: right;
        font-size: 0.9em;
    }
}

.no-image {
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px;
        transform: none;
    }
}

#more-projects {
    display: none;
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/

#skills {
    padding: 50px 15px;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }

    li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: $heading;
        background: color.adjust($background-alt, $lightness: -5%);
        list-style: none;
        cursor: default;
        font-size: 1.2em;
    }
}

/*
    -------------------------------
    ----- 10. Contact Styles -----
    -------------------------------
*/

#contact {
    padding: 50px 15px;
    background: $base-color;
    // text-align: center;

    h2 {
        margin: 0 0 15px 0;
        color: #fff;
        font-weight: 500;
    }
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin-bottom: 10px;
        background: color.adjust($base-color, $lightness: -15%);
        color: #fff;
        @include transition();
        @include placeholder {
            color: #fff;
        }

        &:focus {
            outline: none;
            background: color.adjust($base-color, $lightness: -25%);
        }
    }

    textarea {
        height: 150px;
        resize: none;
    }

    button {
        display: block;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        border: none;
        color: $base-color;
        font-weight: 700;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        @include transition();

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
        }
    }
}

/*
    ---------------------------------------
    ----- 11. Optional Section Styles -----
    ---------------------------------------
*/

.optional-section {
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid $border;

    h2 {
        color: $heading;
    }
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid $border;
    background: #fff;
    text-align: left;

    h3 {
        font-weight: 500;
        margin: 0 0 15px 0;
        color: $heading;
    }

    h4 {
        color: $text;
        clear: both;
        font-weight: 500;
        margin: 0 0 15px 0;
    }

    p,
    ul {
        margin: 0 0 15px 0;
        color: $text;
        font-size: 0.9em;
    }

    ul {
        padding: 0 0 0 15px;
    }
}

/*
    -----------------------------
    ----- 12. Media Queries -----
    -----------------------------
*/

// Medium Devices
@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }

    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.75em;
        }
    }

    #about {
        // text-align: center;

        p {
            text-align: left;
        }
    }

    .project.shadow-large {
        display: flex;
        flex-direction: row;

        .project-image img {
            width: 300px;
        }

        .project-info {
            width: 300px;
            padding: 20px;
        }
    }
}

// Small Devices
@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }

    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;

        li {
            display: block;
            margin-bottom: 10px;
        }
    }

    #lead-content {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.3em;
        }

        a {
            padding: 10px 20px;
        }
    }

    #lead-down {
        display: none;
    }

    .education-block {
        h3,
        span {
            float: none;
        }
    }

    .project-image img {
        max-width: 400px;
    }

    .project-info {
        position: relative;
        margin: 0;
        padding: 30px;
    }

    footer {
        text-align: center;
    }

    .social {
        text-align: center;
    }
}

// Collapse timeline to single-side on mobile
@media only screen and (max-width: 750px) {
    #experience-timeline {
        &::before {
            left: 21px;
        }
    }

    .vtimeline-item {
        &:nth-child(odd),
        &:nth-child(even) {
            justify-content: flex-start;

            .vtimeline-content {
                margin-left: 58px;
                margin-right: 0;
                width: auto;
                text-align: left;

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    .vtimeline-icon {
        left: 21px;
        width: 36px;
        height: 36px;

        i {
            font-size: 0.95em;
        }
    }
}

@media only screen and (max-width: 640px) {
    .project.shadow-large {
        display: flex;
        flex-direction: column;

        .project-image img,
        .project-info {
            width: 80vw;
            max-width: 500px;
        }

        .project-info {
            border-left: none;
        }
    }
}

// Extra Small Devices
@media only screen and (max-width: 480px) {
    #lead-content {
        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1em;
        }

        a {
            font-size: 0.9em;
            padding: 5px 10px;
        }
    }
}
